
body {
    background-color: #EFF7E1;
}
article{
    margin-left: 30%;
    margin-top: 15%; 
    width: 40%;
    background-color: white;
    min-height: 200px;
}
button {
    width: 10%;
    margin-left: 45%;
    margin-top: 5%;
}